.convertion-boxes {
    margin: auto;
    padding-top: 14rem;
    max-width: 30rem;
    display: flex;
}

.brand-obsidiam {
    max-width: calc(100% - 362px)!important;
    min-width: 1170px;
    height: 110px;
    display: flex;
    flex-direction: column-reverse;
}

.text-center {
    text-align: center;
}

img {
    position: absolute;
}

.header-obsidiam {
    background-color: #00D1FF;
    overflow: hidden;
    box-sizing: border-box;
    height: 140px;
    width: 100%;
    position: fixed;
    z-index: 1;
        .img-header-1 {
            margin: 10px 0;
            max-height: 80px;
            z-index: 1;
        }
        .img-header-2 {
            max-height: 600px;
            top: 0rem;
        }
        .img-header-3 {
            width: 330px;
            right: 75px;
            top: 13px;
        }
}

h3 {
    font-size: 18px;
    margin-bottom: 40px;
}

.container-over-convertion {
    display: flex;
    width: 30%;
    height: 3rem;
    min-width: 350px;
    top: 11rem;
    position: relative;
    margin: auto;
    font-size: 24px;
    color: #274067;
    .align-over-convertion {
        display: flex;
        justify-content: center;
        .img-over-convertion {
            width: 40px;
            height: 40px;
            display: block;
            margin: auto;
        }
    }
}

label {
    text-align: center;
    font-size: 11px;
    font-family: RalewayRegular;
    margin-top: 40px;
    position: relative;
    display: block;
    margin: auto;
    top: 1rem;
}

.hr-top {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0rem;
    opacity: 0.4;
    color: lightgray;
    top: 15rem  
}

.hr-bottom {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0rem;
    opacity: 0.4;
    color: lightgray;
    top: 26rem;
}

.inputs-obsidiam {
    width: 29rem;
    margin: 8px 0px;
}

.bottom-text {
    text-align: center;
    font-size: 11px;
    font-family: RalewayRegular;
    bottom: 16rem;
    left: 24rem;
    margin: auto;
    display: flex;
    padding-top: 6rem;
}
.custom-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: -400px 0px;
    height: calc(100% - 140px);
}

p {
    font-family: RalewayRegular,serif !important;
    color: #7b7b93;
}