.exchange-boxes {
    margin: auto;
    padding-top: 1rem;
}

.header-obsidiam {
    display: flex;
    background-color: #20cafe;
    overflow: hidden;
    padding: 20px 10px;
    box-sizing: border-box;
}