.convertion-boxes {
    margin: auto;
    padding-top: 2rem;
    max-width: 30rem;
    display: flex;
}

.text-center {
    text-align: center;
    width: auto;
}

.container-over-convertion {
    display: flex;
    width: 30%;
    height: 3rem;
    min-width: 350px;
    position: relative;
    margin: auto;
    font-size: 24px;
    color: #274067;
    .align-over-convertion {
        display: flex;
        justify-content: center;
        .img-over-convertion {
            width: 40px;
            height: 40px;
            display: block;
            margin: auto;
        }
    }
}

.body-obsidiam {
    position: absolute;
    height: 25rem;
    top: 10rem;
    width: 100%;
}

.text-price-bitcoin {
    text-align: center;
    font-size: 11px;
    font-family: RalewayRegular;
    margin-top: 40px;
    position: relative;
    display: block;
    margin: auto;
    top: 1rem;
}

hr {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0rem;
    opacity: 0.4;
    color: lightgray;
}


.inputs-obsidiam {
    width: 30rem;
    margin: 8px 0px;
}

 @media only screen and (max-width: 630px) {
   .inputs-obsidiam {
        width: 22rem;
    }
    .convertion-boxes {
        max-width: 23rem;
    }
 }


.bottom-text {
    text-align: center;
    font-size: 11px;
    left: 24rem;
    margin: auto;
    display: block;
    padding-top: 2rem;
}

.sign-in-box {
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Raleway-bold';
    color: #20cafe!important;
    background-color: transparent!important;
    padding: 10px;
    border-radius: 6px;
    display: block;
    max-width: 100px;
    justify-content: center;
    margin: auto auto 10px;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-box {
    background-color: #20cafe!important;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Raleway-bold';
    color: #fff!important;
    padding: 10px;
    border-radius: 6px;
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    justify-content: center;
    margin: auto auto 10px;
    cursor: pointer;
    text-decoration: none;
}

input:focus, select:focus, select, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}